* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scrollbar-width: 10px;
  scrollbar-color: #000;
}

html::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
  transition: all 0.2s ease;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4d4c4c;
  transition: all 0.2s ease;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #2ccb69;
}

p,
label {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeFromLeft {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 25px;
    opacity: 0;
  }
  30% {
    bottom: 20px;
    opacity: 1;
  }
  75% {
    bottom: 15px;
    opacity: 1;
  }
  100% {
    bottom: 15px;
    opacity: 0;
  }
}

@keyframes scaleRight {
  to {
    transform: scaleX(1);
  }
}
@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}

@keyframes skeletonBlur {
  to {
    background-position: 250% -150px;
  }
}
@keyframes topBarBG {
  from {
    background: transparent;
  }
  to {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
@keyframes logoShorten {
  from {
    top: 0px;
  }
  to {
    top: -20px;
  }
}
@keyframes logoBig {
  from {
    top: -20px;
  }
  to {
    top: 0px;
  }
}

.jl-trigger-topbar {
  width: 1px;
  height: 1px;
  display: block;
  position: absolute;
  top: 130px;
}

.border-top-left,
.border-botton-right {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 1000;
  background-color: #000;
}

.border-top-left {
  top: 0;
  left: 0;
}
.border-top-left::before,
.border-top-left::after {
  content: '';
  background-color: #000;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

.border-top-left::before {
  height: 100vh;
  width: 30px;
}
.border-top-left::after {
  width: 100vw;
  height: 30px;
}

.border-botton-right {
  bottom: 300px;
  right: 0;
}
.border-botton-right::before,
.border-botton-right::after {
  content: '';
  background-color: #000;
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
}

.border-botton-right::before {
  height: 100vh;
  width: 30px;
}
.border-botton-right::after {
  width: 100vw;
  height: 30px;
}

@media screen and (min-width: 320px) {
  @keyframes slideTopIn {
    to {
      top: 7%;
      opacity: 1;
    }
  }

  .jl-page-wrapper,
  .jl-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1c1c1c;
    border: 30px solid #000;
    overflow: hidden;
  }

  .jl-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    position: fixed;
    top: 0;
    left: 0;
  }
  .jl-preloader-inner {
    width: 80%;
    margin-top: -45px;
  }

  .jl-preloader-inner img {
    width: 70%;
    height: auto;
    margin-left: 15%;
  }

  .jl-preloader-inner p {
    text-align: center;
  }

  .jl-overlay {
    width: 100%;
    height: 150vh;
    display: none;
    position: fixed;
    z-index: 6000;
    top: 0;
    left: 0;
    background-color: rgba(44, 203, 105, 0.95);
  }

  .jl-menu-overlay {
    width: 100%;
    height: 150vh;
    display: none;
    position: fixed;
    z-index: 5002;
    top: 0;
    left: 0;
    background-color: rgba(44, 203, 105, 0.95);
  }

  .jl-modal {
    width: min(90%, 800px);
    display: none;
    padding: 30px;
    background-color: #1c1c1c;
    border-radius: 0 30px 0 30px;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 6100;
    opacity: 0;
  }

  .jl-modal-header,
  .jl-modal-body,
  .jl-form {
    width: 100%;
    display: table;
    position: relative;
  }
  .jl-modal .jl-modal-header h1.jl-title {
    line-height: 28px;
    margin-bottom: 10px;
  }

  .jl-field,
  .jl-textarea {
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-indent: 15px;
  }
  .jl-field {
    height: 45px;
  }
  .jl-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .jl-close-modal {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    border: none;
    background-color: #1c1c1c;
    color: #4d4c4c;
    transition: all 0.2s ease-out;
  }
  .jl-close-modal:hover {
    background-color: #292929;
    color: #707070;
  }

  /* Navegação */
  .jl-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background: transparent;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease-in;
  }

  .jl-topbar-bg {
    animation: topBarBG 0.2s ease-in forwards;
  }

  .jl-logo {
    width: 75px;
    height: 110px;
    position: relative;
    float: left;
    margin-left: 60px;
    background-color: #2ccb69;
    border-radius: 0 0 37px 0;
    transition: all 0.3s ease-in;
  }
  .jl-logo-shorten {
    animation: logoShorten 0.2s ease-in forwards;
  }
  .jl-logo-big {
    animation: logoBig 0.2s ease-in forwards;
  }

  .jl-logo img {
    width: 47px;
    height: 31px;
    display: block;
    margin: 55px auto 0 auto;
  }
  .jl-menu {
    display: none;
  }

  .jl-btn-menu-mob {
    width: 50px;
    height: 50px;
    border: none;
    display: block;
    position: fixed;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    background-color: #2ccb69;
    color: #000;
    z-index: 5101;
    cursor: pointer;
    transition: all 0.5s ease-in;
  }

  .jl-menu-mob {
    width: 240px;
    height: 120vh;
    display: block;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 5100;
    padding: 80px 30px 30px;
    transition: all 0.3s ease-in;
  }

  .jl-menu-is-open {
    right: 0;
  }
  .jl-menu-is-closed {
    right: -300px;
  }

  .jl-menu-mob ion-icon {
    vertical-align: middle;
  }
  .jl-menu-mob a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
  }

  /* Botão Contato */
  .jl-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    background-color: #2ccb69;
    background-image: url('../images/icon-contact-close.svg');
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }

  .jl-contact-info {
    width: 245px;
    height: 165px;
    display: none;
    padding: 25px;
    position: fixed;
    z-index: 200;
    bottom: 115px;
    right: 65px;
    border-radius: 30px 0 0 0;
  }
  .jl-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .jl-contact-info-inner p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .jl-social-links,
  .jl-social-links-cicle {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
  }

  .jl-social-links-cicle {
    left: 0px;
  }
  .jl-social,
  .jl-social-links-cicle .jl-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }
  .jl-social-links-cicle .jl-social {
    border-radius: 50%;
    text-align: center;
    transition: 0.3s ease-out;
  }
  .jl-social-links-cicle .jl-social ion-icon {
    height: 45px;
    transition: 0.3s ease-out;
  }
  .jl-social-links-cicle .jl-social:hover {
    background-color: #000;
  }
  .jl-social-links-cicle .jl-social:hover ion-icon {
    color: #2ccb69;
  }

  .jl-social > img {
    width: 20px;
    height: auto;
    display: block;
    margin: 13px auto 0;
  }
  .jl-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
  }
  .jl-corner::after {
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0;
    background-color: transparent;
    background-image: url('../images/corner.svg');
    background-repeat: no-repeat;
  }

  /* Home */
  .jl-display-text {
    margin-top: 10%;
  }

  .jl-home-presentation {
    background-image: url(../images/joao-lemon-designer-home.png);
    background-repeat: no-repeat;
    background-position: 20% bottom;
    background-size: 750px;
  }

  .jl-home-presentation h1 {
    margin-top: 110px;
  }

  .jl-scroll-down {
    width: 70px;
    height: 105px;
    border-radius: 35px 35px 0 0;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
  }

  .jl-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }
  .jl-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1.5s linear 3s infinite;
  }
  .jl-arrow-down:before {
    content: '';
    width: 2px;
    height: 45px;
    display: block;
    background-color: #000;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform-origin: top center;
    animation: lineDown 1.5s ease-out infinite;
  }
  /* Home - portfolio */

  .jl-portfolio-navigator {
    width: 70%;
    height: auto;
    display: table;
    position: relative;
    margin: 15px auto 15px 0;
  }

  .jl-item-navigator {
    width: 100%;
    display: table;
  }

  .jl-navigator-counter {
    width: 100%;
    height: 90px;
    display: block;
    margin-bottom: 60px;
  }
  .jl-navigator-counter span {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    line-height: 90px;
    font-weight: 600;
    position: relative;
  }
  .jl-navigator-counter span:before {
    content: '';
    display: block;
    width: 30px;
    height: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 0;
    left: 0;
  }

  .jl-item-navigator a {
    width: 20px;
    height: 2px;
    display: block;
    margin: 0 0 80px 30px;
    background-color: #4d4c4c;
  }

  .jl-item-navigator .jl-item-active {
    background-color: #2ccb69;
  }

  .jl-items-next-prev {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
  }
  .jl-item-next,
  .jl-item-prev {
    width: 45px;
    color: #0ca346;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .jl-items-next-prev > div {
    height: 32px;
    line-height: 32px;
  }
  .jl-items-counter {
    font-family: 'Roboto', sans-serif;
    color: #4d4c4c;
  }
  .jl-items-counter span:nth-child(1) {
    color: #bcbcbc;
  }

  ion-icon {
    font-size: 26px;
  }

  .jl-slider-container {
    display: block;
    overflow: hidden;
  }
  .jl-slider-list {
    width: auto;
    display: block;
    list-style: none;
  }
  .jl-slider-list .jl-portfolio-item {
    display: block;
    float: left;
    height: auto;
    margin-top: 0;
  }

  .jl-portfolio-list .jl-portfolio-item {
    margin-bottom: 100px;
    padding: 0 10px;
  }

  .jl-slider-list .jl-portfolio-item-info {
    width: 100%;
    display: table;
  }

  .jl-portfolio-list {
    list-style: none;
  }

  .jl-slider-list .jl-portfolio-item-info h1 {
    text-align: center;
    display: block;
    position: relative;
    opacity: 0;
    left: -150px;
  }
  .jl-slider-list .jl-portfolio-item-info p {
    display: block;
    position: relative;
    opacity: 0;
    left: -150px;
    text-align: center;
  }

  .jl-slider-list .jl-portfolio-item-info a {
    display: table;
    position: relative;
    opacity: 0;
    left: -150px;
    margin: 0 auto;
  }
  .jl-slider-list .jl-portfolio-item-thumb a {
    display: table;
    position: relative;
    opacity: 0;
    left: -150px;
  }

  .jl-slider-list .jl-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 30px 0 20px 0;
    position: relative;
  }
  .jl-portfolio-list .jl-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 20px 0 20px 0;
    position: relative;
  }

  .jl-portfolio-list .jl-portfolio-item-thumb > a {
    float: none;
    margin: 17px auto 0 auto;
  }

  .jl-slider-list .jl-portfolio-item-thumb > a {
    margin: 17px auto 0 auto;
    float: none;
  }

  .jl-slider-list .jl-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
    transform: scaleX(0);
    transform-origin: right;
  }
  .jl-portfolio-list .jl-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
  }

  .jl-slider-list .jl-portfolio-item-thumb img {
    width: 90%;
    max-width: 100%;
    height: auto;
    position: relative;
    transform: scale(0);
    left: 5%;
  }
  /* PORTFOLIO */

  .jl-portfolio-list .jl-portfolio-item-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .jl-portfolio-list .jl-portfolio-item-info {
    width: 100%;
    display: table;
    margin-top: 0px;
    position: relative;
  }

  .jl-section-offset-top {
    margin-top: 130px;
  }
  .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info {
    width: 100%;
    text-align: center;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(odd)
    .jl-portfolio-item-info
    a {
    margin: 0 auto;
    float: none;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-info {
    width: 100%;
    text-align: center;
  }

  .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row {
    flex-direction: row-reverse;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-info
    a {
    margin: 0 auto;
    float: none;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    a {
    float: none;
    margin: 17px auto 0 auto;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb {
    margin-left: 0px;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    img {
    left: 0px;
  }

  /* Sobre */
  .jl-box-img {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  .jl-avatar-sobre {
    height: 430px;
    position: relative;
  }

  .jl-section-sobre {
    height: calc(100% - 130px);
  }

  .jl-section-sobre .container-fluid,
  .jl-section-sobre .container-fluid > .row {
    height: 100%;
  }

  .jl-titulo-sobre,
  .jl-info-sobre,
  .jl-premios-sobre {
    width: 100%;
    height: auto;
    display: table;
    float: left;
    margin-bottom: 30px;
  }

  /* Detalhes */

  .jl-hero {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    margin-top: 0px;
  }

  .jl-hero h1 {
    margin-bottom: 45px;
  }

  .jl-project-stats {
    width: 95%;
    height: 100%;
    display: table;
    padding-bottom: 30px;
    border-bottom: 1px solid #2ccb69;
  }

  .jl-project-description {
    width: 95%;
    height: 100%;
    display: table;
    margin-top: 30px;
  }

  .jl-hero-inner {
    display: table;
    padding: 65px 0;
  }

  .jl-hero-inner-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: block;
    padding: 20px;
  }

  .z-index {
    z-index: 1;
  }

  .jl-post-section {
    width: 100%;
    padding: 45px 0;
    display: table;
  }

  .jl-pre-gallery {
    padding-bottom: 350px;
  }

  .jl-post-gallery {
    display: block;
  }

  .jl-post-gallery .container {
    position: relative;
    top: -270px;
  }

  .jl-thumb-box {
    width: auto;
    display: block;
    position: relative;
    cursor: pointer;
  }

  .jl-thumb-box::before {
    content: '';
    width: 100%;
    height: 0%;
    z-index: 700;
    background-color: rgb(44, 203, 105, 0.75);
    background-image: url('../images/icon-see-more.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;

    transition: all 0.3s ease-in;
  }
  .jl-thumb-box:hover::before {
    content: '';
    width: 100%;
    height: 100%;
  }

  .jl-gallery-frame-container {
    width: min(70%, 330px);
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 40000;
  }
  .jl-gallery-frame-inner {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }

  .jl-gallery-frame-inner .jl-skeleton-load {
    width: 87%;
    height: 86%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    left: 7%;
    top: 2%;
    z-index: 3050;
  }
  .jl-gallery-frame-inner .jl-skeleton-load > div {
    width: 90%;
    border-radius: 15px;
    background-color: #e0e0e0;
    margin: 4% auto;
    background-image: url('/images/skeleton-loading-blur.svg');
    background-repeat: no-repeat;
    background-position: -200% -150px;
    animation: skeletonBlur 1.5s infinite ease-out;
  }
  .jl-gallery-frame-inner .jl-skeleton-load > div:first-child,
  .jl-gallery-frame-inner .jl-skeleton-load > div:last-child {
    height: 20%;
  }
  .jl-gallery-frame-inner .jl-skeleton-load > div:nth-child(2) {
    height: 60%;
  }

  .jl-btn-close-gallery {
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: none;
    background-color: #000;
    color: #2ccb69;
    top: -15px;
    right: -45px;
    cursor: pointer;
  }
  .jl-close-gallery ion-icon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 45px;
  }

  img.jl-gallery-frame {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3100;
  }

  .jl-gallery-frame {
    width: 100%;
  }

  .jl-gallery-frame-image {
    width: 87%;
    max-width: 87%;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 30px;
    z-index: 3000;
    top: 2.4vh;
  }

  .jl-gallery-frame-container .jl-items-next-prev {
    width: fit-content;
    margin: 60px auto 0 auto;
  }
  /* Utilitarias */
  .jl-title-xlarge {
    font-size: 90px;
    line-height: 90px;
  }

  .jl-title-large {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
  }
  /* Classes Utilitarias */

  /* Texto */
  .jl-title {
    font-family: 'Crete Round', serif;
    font-weight: normal;
  }

  .jl-sub-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .jl-text-center {
    text-align: center;
  }

  .jl-text-center-mob {
    text-align: center;
  }

  .jl-title-medium {
    font-size: 48px;
    line-height: 48px;
  }

  /* Botões */
  .jl-btn {
    display: table;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    border: none;
    position: relative;
    transition: all 0.2s ease-out;
  }

  .jl-btn ion-icon {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  .jl-btn-block {
    display: block;
    width: 100%;
  }

  .jl-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 18px;
    font-size: 12px;
    border-radius: 14px;
  }
  .jl-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 19px;
  }
  .jl-btn-large {
    padding: 12px 35px;
    font-size: 14px;
    border-radius: 23px;
  }

  .jl-btn-green {
    background-color: #2ccb69;
    color: #1c1c1c;
  }
  .jl-btn-green:hover {
    background-color: #0ca346;
    color: #aef7b4;
    transform: scale(1.02);
  }

  .jl-btn-dark {
    background-color: #151515;
    color: #2ccb69;
  }
  .jl-btn-dark:hover {
    background-color: #2c2c2c;
    color: #fff;
  }

  /* No Radius */
  .jl-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .jl-no-radius-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Cores texto */
  .jl-text-green {
    color: #2ccb69;
  }

  .jl-text-dark {
    color: #4d4c4c;
  }

  .jl-text-light {
    color: #bcbcbc;
  }

  .jl-text-black {
    color: #000;
  }

  /* Cores bg */
  .jl-bg-green {
    background-color: #2ccb69;
  }

  .jl-bg-dark {
    background-color: #4d4c4c;
  }

  .jl-bg-light {
    background-color: #bcbcbc;
  }

  .jl-bg-black {
    background-color: #000;
  }

  /* Margin */

  .jl-mar-15 {
    margin: 15px;
  }
  .jl-mar-top-15 {
    margin-top: 15px;
  }
  .jl-mar-right-15 {
    margin-right: 15px;
  }
  .jl-mar-bottom-15 {
    margin-bottom: 15px;
  }
  .jl-mar-left-15 {
    margin-left: 15px;
  }
  .jl-mar-30 {
    margin: 30px;
  }
  .jl-mar-top-30 {
    margin-top: 30px;
  }
  .jl-mar-right-30 {
    margin-right: 30px;
  }
  .jl-mar-bottom-30 {
    margin-bottom: 30px;
  }
  .jl-mar-left-30 {
    margin-left: 30px;
  }

  /* Padding */

  .jl-pad-15 {
    padding: 15px;
  }
  .jl-pad-top-15 {
    padding-top: 15px;
  }
  .jl-pad-right-15 {
    padding-right: 15px;
  }
  .jl-pad-bottom-15 {
    padding-bottom: 15px;
  }
  .jl-pad-left-15 {
    padding-left: 15px;
  }
  .jl-pad-30 {
    padding: 30px;
  }
  .jl-pad-top-30 {
    padding-top: 30px;
  }
  .jl-pad-right-30 {
    padding-right: 30px;
  }
  .jl-pad-bottom-30 {
    padding-bottom: 30px;
  }
  .jl-pad-left-30 {
    padding-left: 30px;
  }

  .jl-no-padding {
    padding: 0 !important;
  }
  .jl-box-img {
    width: 100%;
    display: table;
  }

  .jl-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* 404 */
  .jl-404 h1,
  .jl-404 p {
    text-align: center;
  }

  .jl-404 .jl-btn {
    margin: 0 auto 0 auto;
  }

  .jl-404 img {
    width: 90%;
    display: block;
    margin: 30px auto 0 auto;
  }

  /* Full Height */
  .jl-full-height {
    height: 100%;
    position: relative;
  }
  .jl-full-height-1 {
    height: calc(100vh - 30px);
  }

  /* Formatação Listas */
  .jl-page-list {
    list-style: none;
    font-family: 'Roboto', sans-serif;
  }

  .jl-page-list > li {
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
  }

  .jl-page-list > li:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #2ccb69;
  }

  /* Classes de comportamento */
  .jl-is-open {
    display: block;
  }

  .jl-slide-top-in {
    animation: slideTopIn 0.7s forwards ease-out;
  }
  .jl-change-icon {
    background-position-y: -45px;
  }

  .jl-fade-out {
    animation: fadeOut 1.5s forwards ease-out;
  }
  .jl-fade-from-left {
    animation: fadeFromLeft 1s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-fade-from-left-first {
    animation: fadeFromLeft 1.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-fade-from-left-mid {
    animation: fadeFromLeft 1.5s 1s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-fade-from-left-last {
    animation: fadeFromLeft 1.5s 1.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-scale-up {
    animation: scaleUp 0.7s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-scale-right {
    animation: scaleRight 0.7s 0.4s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }
}
@media screen and (min-width: 400px) {
  .jl-avatar-sobre {
    height: 400px;
    position: relative;
  }
  .jl-box-img {
    width: 300px;
  }
}

@media screen and (min-width: 576px) {
  .jl-hero-inner-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: block;
    padding: 65px;
  }
  .jl-avatar-sobre {
    height: 500px;
    position: relative;
  }

  .jl-box-img {
    width: 380px;
  }
}

@media screen and (min-width: 768px) {
  .jl-title-large {
    font-size: 48px;
    line-height: 48px;
  }

  .jl-text-center-mob {
    text-align: left;
  }

  .jl-avatar-sobre {
    height: 500px;
    position: relative;
  }

  .jl-box-img {
    width: 380px;
  }
}

@media screen and (min-width: 992px) {
  .jl-preloader-inner {
    width: 30%;
    margin-top: -45px;
    margin-left: 10%;
  }

  .jl-preloader-inner img {
    width: 70%;
    height: auto;
    margin-left: 0%;
  }

  .jl-preloader-inner p {
    display: block;
    text-align: left;
    margin: 0 auto;
  }

  @keyframes slideTopIn {
    to {
      top: 20%;
      opacity: 1;
    }
  }
  .jl-modal {
    display: none;
    padding: 30px;
    background-color: #1c1c1c;
    border-radius: 0 30px 0 30px;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 6100;
    opacity: 0;
  }

  .jl-modal .jl-modal-header h1.jl-title {
    line-height: 45px;
  }
  .jl-form label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .jl-home-presentation {
    background-image: url(../images/joao-lemon-designer-home.png);
    background-repeat: no-repeat;
    background-position: 0, bottom;
    background-size: initial;
  }

  .jl-slider-list .jl-portfolio-item-info h1 {
    text-align: left;
    display: block;
    position: relative;
    opacity: 0;
    left: -150px;
  }

  .jl-portfolio-navigator {
    width: 145px;
    height: auto;
    display: table;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 15vh;
  }
  .jl-items-next-prev {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
  }

  .jl-portfolio-list .jl-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 30px 0 20px 0;
    position: relative;
  }

  .jl-home-presentation {
    background-image: url(../images/joao-lemon-designer-home.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 55%;
  }
  .jl-home-presentation h1 {
    margin-top: 0;
  }

  .jl-btn-menu-mob {
    display: none;
  }

  .jl-menu-mob {
    display: none;
  }
  .jl-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }
  .jl-menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #bcbcbc;
    text-transform: lowercase;
    display: inline-block;
    margin: 50px 0px 0 30px;

    position: relative;
  }
  .jl-menu a:first-child {
    margin-left: 0;
  }

  .jl-menu a:hover {
    color: #2ccb69;
  }
  .jl-menu a::before {
    /* traço abaixo do botão */
    content: '';
    width: 100%;
    height: 3px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform-origin: left;
    transform: scale(0, 1);
  }
  .jl-menu a:hover:before {
    transform: scale(1, 1);
  }

  .jl-slider-list .jl-portfolio-item-info {
    width: 100%;
    display: table;
    margin-top: 68px;
  }

  .jl-slider-list .jl-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 30px 0 20px 0;
    position: relative;
    margin-top: 45px;
  }
  .jl-slider-list .jl-portfolio-item-thumb img {
    width: calc(100% + 45px);
    max-width: calc(100% + 45px);
    left: -75px;
  }

  .jl-slider-list .jl-portfolio-item-thumb > a {
    margin-right: 30px;
  }
  .jl-navigator-counter span {
    font-size: 100px;
  }
  .jl-navigator-counter::before {
    width: 30px;
  }

  .jl-title-large,
  .jl-slider-list .jl-portfolio-item-info p {
    text-align: left;
  }

  .jl-slider-list .jl-portfolio-item-info a {
    display: table;
    position: relative;
    opacity: 0;
    left: -150px;
    margin: 0;
  }

  .jl-portfolio-list .jl-portfolio-item-thumb img {
    width: calc(100% + 45px);
    max-width: calc(100% + 45px);
    height: auto;
    position: relative;
    left: -75px;
  }

  .jl-slider-list .jl-portfolio-item {
    display: block;
    float: left;
    height: auto;
    margin-top: calc(26vh - 75px);
  }

  .jl-portfolio-list .jl-portfolio-item-info {
    width: calc(100% - 105px);
    display: table;
    margin-top: 20px;
    position: relative;
  }
  .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info {
    width: calc(100% - 105px);
    text-align: right;
  }

  .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info {
    text-align: right;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(odd)
    .jl-portfolio-item-info
    a {
    margin: 0 auto;
    float: right;
  }
  .jl-portfolio-list .jl-portfolio-item:nth-child(odd) h1 {
    text-align: right;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-info {
    width: calc(100% - 105px);
    text-align: left;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-info
    a {
    float: left;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    a {
    float: left;
    margin-top: 17px;
    margin-left: 75px;
  }
  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb {
    margin-left: -105px;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(even)
    .jl-portfolio-item-thumb
    img {
    left: 30px;
  }

  .jl-portfolio-list
    .jl-portfolio-item:nth-child(odd)
    .jl-portfolio-item-thumb
    img {
    left: -75px;
  }
  .jl-hero {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    margin-top: 120px;
  }

  .jl-project-description {
    width: 95%;
    height: 100%;
    display: table;
    margin-top: 0px;
  }

  .jl-project-stats {
    width: 95%;
    height: 100%;
    display: table;
    border-right: 1px solid #2ccb69;
    padding-bottom: 0px;
    border-bottom: none;
  }

  .jl-gallery-frame-container {
    width: 330px;
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 40000;
  }

  .jl-titulo-sobre {
    width: 100%;
  }
  .jl-info-sobre {
    padding-right: 30px;
    width: 50%;
  }
  .jl-premios-sobre {
    width: 40%;
  }

  /* 404 */
  .jl-404 h1,
  .jl-404 p {
    text-align: left;
  }

  .jl-404 .jl-btn {
    margin: 0 0 0 0;
  }

  .jl-404 img {
    width: auto;
    display: block;
    margin: 0 auto;
  }

  /* Utilitarias */
  .jl-title-xlarge {
    font-size: 120px;
    line-height: 120px;
  }

  .jl-title-large {
    font-size: 60px;
    line-height: 60px;
  }
  .jl-avatar-sobre {
    height: 100vh;
  }

  @media screen and (min-width: 1200px) {
    .jl-slider-list .jl-portfolio-item-info {
      margin-top: 110px;
    }
    .jl-title-large {
      font-size: 65px;
      line-height: 65px;
    }
    .jl-slider-list .jl-portfolio-item-thumb {
      width: 100%;
      display: table;
      padding: 75px 0 20px 0;
      position: relative;
    }
    .jl-slider-list .jl-portfolio-item-thumb img {
      width: 100%;
      max-width: 100%;
      left: -75px;
    }

    .jl-slider-list .jl-portfolio-item-thumb > a {
      margin-right: 75px;
    }
    .jl-navigator-counter span {
      font-size: 120px;
    }
    .jl-navigator-counter::before {
      width: 35px;
    }
    .jl-portfolio-navigator {
      width: 145px;
      height: auto;
      display: table;
      position: relative;
      left: 0;
      top: 0;
      margin-top: 26vh;
    }
    .jl-portfolio-list .jl-portfolio-item-info {
      width: calc(100% - 105px);
      display: table;
      margin-top: 72px;
      position: relative;
    }
    .jl-portfolio-list .jl-portfolio-item-thumb > a {
      margin: 17px 75px 0 auto;
      float: right;
    }

    .jl-portfolio-list .jl-portfolio-item-thumb img {
      width: 100%;
      max-width: 100%;
      height: auto;
      position: relative;
      left: -75px;
    }
    .jl-portfolio-list .jl-portfolio-item-thumb {
      width: 100%;
      display: table;
      padding: 75px 0 20px 0;
      position: relative;
    }

    .jl-portfolio-list
      .jl-portfolio-item:nth-child(even)
      .jl-portfolio-item-thumb
      img {
      left: 75px;
    }
    .jl-portfolio-list
      .jl-portfolio-item:nth-child(odd)
      .jl-portfolio-item-thumb
      img {
      left: -75px;
    }

    .jl-gallery-frame-container {
      width: 360px;
    }

    /* Full Height */
    .jl-full-height {
      height: 100vh;
      position: relative;
    }
    .jl-full-height-1 {
      height: calc(100vh - 30px);
    }

    /* Botões */
    .jl-btn {
      display: table;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      text-align: center;
      border: none;
      position: relative;
      transition: all 0.2s ease-out;
    }

    .jl-btn ion-icon {
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
    }

    .jl-btn-block {
      display: block;
      width: 100%;
    }

    .jl-btn-small {
      height: 28px;
      line-height: 28px;
      padding: 0 18px;
      font-size: 12px;
      border-radius: 14px;
    }
    .jl-btn-medium {
      height: 38px;
      line-height: 38px;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 19px;
    }
    .jl-btn-large {
      height: 45px;
      line-height: 45px;
      padding: 0 35px;
      font-size: 14px;
      border-radius: 23px;
    }
  }

  @media screen and (min-width: 1364px) {
  }

  @media screen and (min-width: 1600px) {
    .jl-gallery-frame-container {
      width: 370px;
    }
  }

  /* Classes Utilitarias */

  /* Texto */
  .jl-title {
    font-family: 'Crete Round', serif;
    font-weight: normal;
  }

  .jl-sub-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .jl-text-center {
    text-align: center;
  }

  .jl-title-medium {
    font-size: 48px;
    line-height: 48px;
  }

  /* Botões */
  .jl-btn {
    display: table;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    border: none;
    position: relative;
    transition: all 0.2s ease-out;
  }

  .jl-btn ion-icon {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  .jl-btn-block {
    display: block;
    width: 100%;
  }

  .jl-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 18px;
    font-size: 12px;
    border-radius: 14px;
  }
  .jl-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    font-size: 14px;
    border-radius: 19px;
  }
  .jl-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    font-size: 14px;
    border-radius: 23px;
  }

  .jl-btn-green {
    background-color: #2ccb69;
    color: #1c1c1c;
  }
  .jl-btn-green:hover {
    background-color: #0ca346;
    color: #aef7b4;
    transform: scale(1.02);
  }

  .jl-btn-dark {
    background-color: #151515;
    color: #2ccb69;
  }
  .jl-btn-dark:hover {
    background-color: #2c2c2c;
    color: #fff;
  }

  /* No Radius */
  .jl-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .jl-no-radius-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Cores texto */
  .jl-text-green {
    color: #2ccb69;
  }

  .jl-text-dark {
    color: #4d4c4c;
  }

  .jl-text-light {
    color: #bcbcbc;
  }

  .jl-text-black {
    color: #000;
  }

  /* Cores bg */
  .jl-bg-green {
    background-color: #2ccb69;
  }

  .jl-bg-dark {
    background-color: #4d4c4c;
  }

  .jl-bg-light {
    background-color: #bcbcbc;
  }

  .jl-bg-black {
    background-color: #000;
  }

  /* Margin */

  .jl-mar-15 {
    margin: 15px;
  }
  .jl-mar-top-15 {
    margin-top: 15px;
  }
  .jl-mar-right-15 {
    margin-right: 15px;
  }
  .jl-mar-bottom-15 {
    margin-bottom: 15px;
  }
  .jl-mar-left-15 {
    margin-left: 15px;
  }
  .jl-mar-30 {
    margin: 30px;
  }
  .jl-mar-top-30 {
    margin-top: 30px;
  }
  .jl-mar-right-30 {
    margin-right: 30px;
  }
  .jl-mar-bottom-30 {
    margin-bottom: 30px;
  }
  .jl-mar-left-30 {
    margin-left: 30px;
  }

  /* Padding */

  .jl-pad-15 {
    padding: 15px;
  }
  .jl-pad-top-15 {
    padding-top: 15px;
  }
  .jl-pad-right-15 {
    padding-right: 15px;
  }
  .jl-pad-bottom-15 {
    padding-bottom: 15px;
  }
  .jl-pad-left-15 {
    padding-left: 15px;
  }
  .jl-pad-30 {
    padding: 30px;
  }
  .jl-pad-top-30 {
    padding-top: 30px;
  }
  .jl-pad-right-30 {
    padding-right: 30px;
  }
  .jl-pad-bottom-30 {
    padding-bottom: 30px;
  }
  .jl-pad-left-30 {
    padding-left: 30px;
  }

  .jl-no-padding {
    padding: 0 !important;
  }
  .jl-box-img {
    width: 100%;
    display: table;
  }

  .jl-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* Formatação Listas */
  .jl-page-list {
    list-style: none;
    font-family: 'Roboto', sans-serif;
  }

  .jl-page-list > li {
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
  }

  .jl-page-list > li:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #2ccb69;
  }

  /* Classes de comportamento */
  .jl-is-open {
    display: block;
  }

  .jl-slide-top-in {
    animation: slideTopIn 0.7s forwards ease-out;
  }
  .jl-change-icon {
    background-position-y: -45px;
  }

  .jl-fade-out {
    animation: fadeOut 1.5s forwards ease-out;
  }
  .jl-fade-from-left {
    animation: fadeFromLeft 1s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-fade-from-left-first {
    animation: fadeFromLeft 1.5s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-fade-from-left-mid {
    animation: fadeFromLeft 1.5s 1s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-fade-from-left-last {
    animation: fadeFromLeft 1.5s 1.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-scale-up {
    animation: scaleUp 0.7s 0.5s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }
  .jl-scale-right {
    animation: scaleRight 0.7s 0.4s forwards cubic-bezier(0, 1.01, 0.32, 1);
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }
}
